@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.registerForm {
  display: block;
}

.input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 3px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.inputBlockDiv {
  margin-bottom: 15px;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
  float: left;
  font-size: 12px;
}
